.cart-sec {
  display: flex;
  gap: 101px;
  margin-top: 90px;

  &__title {
    display: flex;
    gap: 14px;
    flex-direction: row;
    align-items: center;
  }
  &__cart-button-image {
    display: inline-flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #6d8434;
  }
  &__cart-text {
    color: #010101;
    font-family: "montreal";
    font-size: 32px;
    font-weight: 500;
    line-height: 32px; /* 100% */
    text-transform: uppercase;
  }
  &__cart-span {
  }
  &__delete-all-button {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-top: 19px;
    margin-left: 404px;
  }
  &__delete-all-button-text {
    color: #010101;
    font-family: "montreal";
    font-size: 20px;
    font-weight: 500;
    line-height: 20px; /* 125% */
  }
  &__delete-all-button-svg {
  }
  &__cart-list {
    margin-top: 46px;
    max-width: 520px;
  }
  &__second {
  }
  &__second-title {
    margin-top: 129px;
    color: #010101;
    font-family: "montreal";
    font-size: 32px;
    font-weight: 500;
    line-height: 32px; /* 100% */
    text-transform: uppercase;
  }
  &__total-sum {
    margin-top: 40px;
    border-radius: 8px;
    background: rgba(109, 132, 52, 0.05);
    padding: 14px 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__total {
    color: #010101;
    font-family: "montreal";
    font-size: 20px;
    font-weight: 500;
    line-height: 24px; /* 120% */
    margin-right: 364px;
  }
  &__sum {
    color: rgba(1, 1, 1, 0.2);
    font-family: "montreal";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px; /* 116.667% */
  }
  &__sum-span {
    color: #010101;
    font-family: "montreal";
    font-size: 32px;
    font-weight: 500;
    line-height: 32px; /* 100% */
    margin-left: 8px;
  }
  &__input {
    display: inline-flex;
    padding: 15px 166px 15px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 30px;
    border: 1px solid rgba(1, 1, 1, 0.3);
    color: #010101;
    font-family: "montreal";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    background-color: transparent;
    margin-top: 55px;
  }
  &__checkout {
    display: inline-flex;
    padding: 15px 65px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: #6d8434;
    color: #e8e8e2;
    font-family: "montreal";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    margin-left: 16px;
  }
}
