@font-face {
  font-family: "spring";
  src: url("./scss/fonts/Fontspring-DEMO-mersin-blackitalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montreal";
  src: url("./scss/fonts/PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #E8E8E2;
}

.container {
  margin: 0 auto;

  @media screen and (min-width: 320px) {
    width: 320px;
  }
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1240px;
  }
}
